.control {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.control a {
  gap: 5px;
}

.pageNum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
}

.pageNum-icon {
  color: rgb(189, 215, 60);
  transition: 0.5s;
  z-index: -1;
  cursor: pointer;
}

.next {
  height: 1rem;
  background-color: rgb(189, 215, 60);
  transition: 0.15s;
  z-index: 1;
}
.next:hover {
  background-color: rgba(189, 215, 60, 0.479);
  transition: 0.15s;
}
a:hover {
  color: rgb(189, 215, 60);
  transition: 0.2s;
}

.notVisible {
  pointer-events: none;
  cursor: none;
  visibility: hidden;
}
